@inject IBookRepository Repository
@inject NavigationManager Navigation

<div class="book-card">
    <div class="book-card-body">
        <h5>@Book.Title</h5>
        By @Book.Author | @Book.PublicationDate?.ToString("MMM dd, yyyy")
    </div>
    <div class="actions">
        <a href="@($"/edit/{Book.Id}")" class="btn btn-warning shadow-none">
            Edit
        </a>
        <button @onclick="OpenConfirmDialog" class="btn btn-danger shadow-none ms-3">
            Delete
        </button>
    </div>
</div>

<DeleteConfirmDialog Show="ShowConfirmDialog" OnCancel="CancelDelete" OnOk="DeleteBook" />

@code {
    private bool ShowConfirmDialog;
    [Parameter]
    public required Book Book { get; set; }

    private void OpenConfirmDialog()
    {
        ShowConfirmDialog = true;
    }

    private void CancelDelete()
    {
        ShowConfirmDialog = false;
    }

    private async Task DeleteBook()
    {
        await Repository.DeleteByIdAsync(Book.Id);
        ShowConfirmDialog = false;
        Navigation.NavigateTo("/");
    }
}
